
<div class="fos_user_user_show row">
    {% if user.path is not null %}
    <div class="col-md-3 avatar-profile">
        <img src="{{user.webPath}}" alt="..." class="">
    </div>
    <div class="col-md-9 userCard img">
    {% else %}
    <div class="col-md-12 userCard">
    {% endif %}
        <h2>{{ user.username }}</h2>
        <div class="userCardContent">
            <p>Email : {{ user.email }}</p>
        </div>
    </div>
</div>
