{% extends "ProjetVoxelCoreBundle::Layout/HomeLayout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    <p>Le Nayos est un animal taquin. Il peut glisser des petits trolls dans vos posts ou dans ses messages d'édition si l'occasion se présente. Si ceux ci vous offense, n'oubliez pas que c'est à vocation humoristique, et donc a prendre au second degré.
    </p>
{% endblock %}
